@font-face {
    font-family: "OblivianBold";
    src: url("../fonts/Jörg-Schmitt-Oblivian-Text-Bold.woff2") format("woff2");
    font-weight: bold;
}
@font-face {
    font-family: "OblivianRegular";
    src: url("./fonts/Jörg-Schmitt-Oblivian-Text-Light.woff2") format("woff2");
    font-weight: normal;
}
@font-face {
    font-family: "OblivianThin";
    src: url("../fonts/Jörg-Schmitt-Oblivian-Text-Thin.woff2") format("woff2");
    font-weight: lighter;
}

body {
    height: 100%;
    min-width: 320px;
    font-family: "OblivianThin", sans-serif;
    line-height: 1;
    background-color: white;
    overflow-x: hidden;
}

.container {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
}
.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*background-color: grey;*/
}
.logo {
    height: 50px;
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.navigation {
    width: 50%;
    font-size: 1.15rem;
    /*background-color: azure;*/
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-family: "OblivianThin", sans-serif; /* Use the font-family in your styles */
    font-weight: bolder;
}

.free-templates-button {
    height: 40px;
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 10px;
    border-radius: 25px;
    font-size: 1rem;
    margin-left: 10px;
    background-color: white;
    color: rgb(18, 100, 250);
    padding: 10px;
    border: 1.25px solid #ececec;
    font-family: "OblivianThin", sans-serif; /* Use the font-family in your styles */
    font-weight: bolder;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.nav-item-main {
    margin-top: auto;
    margin-bottom: auto;
    color: rgb(18, 100, 250);
    text-decoration: none;
}
.nav-item {
    margin-top: auto;
    margin-bottom: auto;
    color: rgb(0, 8, 57);
    text-decoration: none;
    display: flex;
    cursor: pointer;
}
.down-caret {
    max-width: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
    display: flex;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
    top: 20px;
    width: 300px;
    text-align: left;
}

.dropdown-content a {
    color: rgb(0, 8, 57);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.opener {
    /*background-color: bisque;*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-size: 1.15rem;
    color: rgb(0, 8, 57);
    padding-top: 70px;
    padding-bottom: 120px;
}

.opener-left-info {
    display: flex;
    flex-direction: column;
    max-width: 410px;
    font-family: "OblivianThin", sans-serif; /* Use the font-family in your styles */
    font-weight: bolder;
    line-height: 1.25;
}
h1 {
    font-weight: bold;
    font-family: OblivianBold;
    color: rgb(0, 8, 57);
    font-size: 3.25rem;
}
h3 {
    font-weight: bold;
    font-family: OblivianBold;
    color: rgb(0, 8, 57);
    font-size: 1rem;
    /*margin-top: 0px;*/
    margin-bottom: -8px;
}
.woman-container {
    margin-right: 70px;
    height: 760px;
}
.woman-img {
    max-height: 700px;
}

.blue-btn {
    height: 50px;
    width: 170px;
    border-radius: 25px;
    font-size: 1rem;
    color: white;
    background-color: rgb(18, 100, 250);
    padding: 10px;
    border: 1.25px solid rgb(18, 100, 250);
    font-family: "OblivianThin", sans-serif; /* Use the font-family in your styles */
    font-weight: bolder;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.stuff-row {
    display: flex;
    justify-content: space-between;
}

.info-box {
    text-align: left;
    font-family: "OblivianThin", sans-serif; /* Use the font-family in your styles */
    max-width: 170px;
}
.small-icon {
    max-width: 60px;
    margin-top: 20px;
}
.subtext {
    color: rgb(160, 165, 175);
    font-size: 1rem;
    line-height: 1.5;
}

.purple-square {
    background-color: rgb(0, 8, 57);
    color: white;
    max-width: 510px;
    height: 200px;
    font-family: "OblivianThin", sans-serif; /* Use the font-family in your styles */
    font-weight: bolder;
    top: -190px;
    z-index: 1;
    position: relative;
    left: -115px;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 1.5;
}

.grey-square {
    background-color: rgb(218, 225, 231);
    height: 510px;
    width: 100%;
    z-index: -1;
    top: -633px;
    position: relative;
    right: -126px;
}
.h3-purple {
    color: white;
    margin-top: 20px;
    margin-bottom: 5px;
}
.numbers-row {
    display: flex;
    justify-content: space-around;
    font-family: "OblivianThin", sans-serif; /* Use the font-family in your styles */
    font-weight: bolder;
}
.number {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 250px;
}
h2 {
    font-weight: bold;
    font-family: OblivianBold;
    color: rgb(0, 8, 57);
    font-size: 2.15rem;
    margin-bottom: 10px;
}

.how-it-works {
    display: flex;
    flex-direction: column;
    text-align: center;
    /*background-color: aquamarine;*/
    margin-top: 20px;
}
.micro-how-to-title {
    font-family: OblivianBold;
    font-weight: bold;
    font-size: 1rem;
    color: rgb(127, 131, 156);
}

.how-to-title {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 30px;
}
.how-to-step {
    text-align: left;
    font-family: "OblivianThin", sans-serif; /* Use the font-family in your styles */
    max-width: 270px;
}
.arrow-img {
    width: 167px;
    height: 93px;
    margin-top: auto;
    margin-bottom: auto;
}
.step-subtext {
    font-size: 1rem;
    line-height: 1.5;
    color: rgb(0, 8, 57);
    font-weight: bold;
}
.services {
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: rgb(248, 249, 250);
    margin-left: -500px;
    padding-left: 500px;
    margin-right: -500px;
    padding-right: 500px;
    margin-top: 70px;
    padding-bottom: 50px;
}

.services-info {
    text-align: left;
    width: 400px;
}

.photo-guy-img {
    height: 700px;
    top: -60px;
    position: relative;
    z-index: 1;
}

.services-li {
    display: flex;
    height: min-content;
    height: 20px;
    margin-top: 10px;
}

.services-li-text {
    font-size: 1rem;
    line-height: 1.5;
    color: rgb(0, 8, 57);
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

.services-ul {
    margin-bottom: 40px;
}
.grey-dots {
    width: 55%;
    position: absolute;
    top: 417px;
    left: -79px;
    z-index: 0;
}

.photographer-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.quotes {
    background-color: white;
    display: flex;
    height: 500px;
    justify-content: space-between;
}
.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 420px;
    text-align: center;
    font-family: OblivianThin, sans-serif;
    font-weight: bolder;
    color: rgb(0, 8, 57);
    font-size: 1.15rem;
}
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
.dots {
    display: flex;
    justify-content: center;
}
.dot-active {
    height: 10px;
    width: 10px;
    background-color: rgb(18, 100, 250);
    border-radius: 50%;
    margin: 10px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.dot {
    height: 10px;
    width: 10px;
    background-color: grey;
    border-radius: 50%;
    margin: 10px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.carousel-arrow-img {
    width: 30px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

.latest-blogposts {
    background-color: rgb(248, 249, 250);
    margin-left: -500px;
    padding-left: 500px;
    margin-right: -500px;
    padding-right: 500px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.blogs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 8px;
}
.latest-blogspot-header{
    margin-top: 0px;
    margin-bottom: 16px;
}
.blog {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    background: #ffffff;
    justify-content: left;
    text-align: left;
    padding: 20px;
    width: 170px;
    line-height: 1.6;
}

.date-subtitle {
    text-transform: uppercase;
    font-family: OblivianBold;
    font-weight: bold;
    font-size: 0.75rem;
    color: rgb(127, 131, 156);
    /*margin-top: 8px;*/
    margin-bottom: 8px;

}

.blog-title {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}
.blog-info{
    font-size: 1.15rem;
    font-weight: bolder;
    text-align: left;
    font-family: OblivianThin;
    margin-top: 8px;
    color: rgb(0, 8, 57);
}