.content{
    height: 100%;
    width: 100%;
    position: absolute;
  }

.container {
    display: flex;
    height: 60%;
  }
  
  .img-left {
    flex: 24;
    height: 100%;
    text-align: center;
    background-color: rgb(127, 153, 255);
  }
  
  .text-right {
    flex: 76;
    height: 100%;
    background-color: aqua;
  }
  
  .bot-img {
    height: 21.25%;
    text-align: center;
    background-color: blue;
  }
  
  .bot-txt {
    height: 18.75%;
    background-color: gold;
  }
