.content{
  height: 100%;
  width: 100%;
  position: absolute;
}
.container{
  height: 60%;
  width: 100%;
}

.img-left{
  float: left;
  width: 24%;
  height: 100%;
  text-align: center;
  background-color: rgb(127, 153, 255);
}
.text-right{
  float: right;
  width: 76%;
  height: 100%;
  background-color: aqua;
}
.bot-img{
  height: 21.25%;
  width: 100%;
  text-align: center;
  background-color: blue;
}
.bot-txt{

  height: 18.75%;
  width: 100%;
  background-color: gold;

}

body{
  margin: 0px;
}